*{
    margin: 0 auto;
    padding: 0;
    
}
.movieCart {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 20px;

}
article{
    border: 1px solid black;
    border-radius: 5px;
}
